/* ------------------------------------------------------------ *\
	# Shell
\* ------------------------------------------------------------ */

.shell { position: relative; padding-left: 30px; padding-right: 30px; margin: auto; width: 100%; }
