/* ------------------------------------------------------------ *\
	 spinner
\* ------------------------------------------------------------ */

.spinner { display: none; position: absolute; top: 50%; transform: translateY(-50%); right: -50px; z-index: 999; }