/* ------------------------------------------------------------ *\
	Pagination
\* ------------------------------------------------------------ */

.paging { padding: 20px 0 20px; text-align: center; }
.paging ul { list-style: none outside none; }
.paging ul,
.paging li { display: inline-block; vertical-align: top; }
.paging a { display: inline-block; padding: 4px 10px; border: 1px solid #000; margin: 0 2px; text-decoration: none; border-radius: 4px; }
.paging .current a,
.paging a:hover { text-decoration: none; background: #000; color: #fff; }
.paging .paging__next { position: relative; }

.paging-label { padding-right: 10px; }
